<div class="container">
  <!-- Button activador Modal Agregar Producto -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProductoModal">
    Agregar Producto
  </button>

  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let prod of productosModelGet">
      <div class="card border-success mb-3">
        <div class="card-header bg-transparent border-success">{{ prod.nombre }}</div>
        <div class="card-body text-success">
          <p class="card-text">
            La cantidad en stock es de: {{ prod.cantidad }}
            y el precio del producto es de: Q.{{ prod.precio }}
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">Footer</div>
      </div>
    </div>
  </div>
</div>




<!-- Modal Agregar Producto -->
<div class="modal fade" id="agregarProductoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mg-3">
            <label for="inputNombre" class="form-label">Nombre Producto</label>
            <input type="text" id="inputNombre" class="form-control" name="nombre" #nombre="ngModel"
            [(ngModel)]="productosModelPost.nombre">
          </div>
          <div class="mg-3">
            <label for="inputCantidad" class="form-label">Cantidad</label>
            <input type="text" id="inputCantidad" class="form-control" name="cantidad" #cantidad="ngModel"
            [(ngModel)]="productosModelPost.cantidad">
          </div>
          <div class="mg-3">
            <label for="inputPrecio" class="form-label">Precio</label>
            <input type="text" id="inputPrecio" class="form-control" name="precio" #precio="ngModel"
            [(ngModel)]="productosModelPost.precio">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postProductos()" >Agregar</button>
      </div>
    </div>
  </div>
</div>
