<div class="container">
  <!-- Button activador Modal Agregar Producto -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProductoModal">
    Agregar Producto
  </button>

  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let prod of productosModelGet">
      <div class="card border-success mb-3">
        <div class="card-header bg-transparent border-success">{{ prod.nombre }}</div>
        <div class="card-body text-success">
          <p class="card-text">
            La cantidad en stock es de: {{ prod.cantidad }}
            y el precio del producto es de: Q.{{ prod.precio }}
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger" (click)="deleteProducto(prod._id)">Eliminar</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample" (click)="getProductosId(prod._id)">
              Editar
            </button>
            <button type="button" class="btn btn-success" [routerLink]="['/usuario/detalleProducto', prod._id]">Ver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal Agregar Producto -->
<div class="modal fade" id="agregarProductoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mg-3">
            <label for="inputNombre" class="form-label">Nombre Producto</label>
            <input type="text" id="inputNombre" class="form-control" name="nombre" #nombre="ngModel"
              [(ngModel)]="productosModelPost.nombre">
          </div>
          <div class="mg-3">
            <label for="inputCantidad" class="form-label">Cantidad</label>
            <input type="text" id="inputCantidad" class="form-control" name="cantidad" #cantidad="ngModel"
              [(ngModel)]="productosModelPost.cantidad">
          </div>
          <div class="mg-3">
            <label for="inputPrecio" class="form-label">Precio</label>
            <input type="text" id="inputPrecio" class="form-control" name="precio" #precio="ngModel"
              [(ngModel)]="productosModelPost.precio">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postProductos()">Agregar</button>
      </div>
    </div>
  </div>
</div>

<!-- OffCanvas Editar Producto -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Producto</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Nombre Producto</label>
        <input type="text" class="form-control" id="inputNombre" name="nombre" #nombre="ngModel"
        [(ngModel)]="productosModelGetId.nombre">
      </div>
      <div class="mb-3">
        <label for="inputCantidad" class="form-label">Cantidad Producto</label>
        <input type="number" class="form-control" id="inputCantidad" name="cantidad" #cantidad="ngModel"
        [(ngModel)]="productosModelGetId.cantidad">
      </div>
      <div class="mb-3">
        <label for="inputPrecio" class="form-label">Precio Producto</label>
        <input type="number" class="form-control" id="inputPrecio" name="precio" #precio="ngModel"
        [(ngModel)]="productosModelGetId.precio">
      </div>
      <button type="submit" class="btn btn-success" (click)="putProducto()" data-bs-dismiss="offcanvas">Editar Producto</button>
    </form>
  </div>
</div>
